@model RetroVideoGameStore.Models.Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Photo != null)
            {
                <img src="~/img/product-uploads/@Model.Photo" alt="Product image" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    <form method="post" action="/Shop/AddToCart">
        <div class="form-group mt-4">
            <label class="control-label" for="Quantity">Quantity:</label>
            <input class="form-control form-control-sm w-25" name="Quantity" id="Quantity" required min="1" max="99999" type="number" />
            <input name="ProductId" id="ProductId" type="hidden" value="@Model.Id" />
            <button class="btn btn-primary mt-1">Add to Cart</button>
        </div>
    </form>
</div>
<div>
    
    <a href="javascript:history.go(-1);">Back to list</a>
</div>
